<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" width="400" height="305">
    <foreignObject width="100%" height="100%">
        <div xmlns="http://www.w3.org/1999/xhtml">
            {% include 'card.html.twig' with {'render': 'minimal'} %}
        </div>
    </foreignObject>
</svg>